---
layout: page
title: What am I all about?
---

<p>Oof that's a loaded title eh? Well here's a little bit about me before I call it a day...</p>

<p>I've been a tech professional almost 5 years now. 
Before moving into tech as a person that codes I heald all sorts of roles. 
Including but not limited to:</p>

<ul>
  <li>Call Center (various types)</li>
  <li>Retail sales into Retail management</li>
  <li>Account management (various types)</li>
  <li>A slew of misc this, that and the other</li>
</ul>

<br>
<p>I've always been interested in technology and science. I've also always been creative. 
I find building with code to be a perfect balance. It satisfies my endless need to learn, learn, 
learn as well as being able to satisfy my endless creative energy. It's a winning combination. 
The journey to get here? Well that's for a blog post.</p>
